@import '../../Assets/Scss/colors';

.buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    span{
        height: 42%;
        border-radius: 13px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        color: #ffff;
        border: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0;
    }

    .icon{
        background-color: $card-bg;
        padding: 3px;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        margin-left: 29px;
        margin-right: 20px;
        stroke-width: 0.2;
    }

    .trn{
        color: $main-theme;
    }

    .sen{
        color: $yellow;
    }

    span.transfer{
        background-color: $main-theme;
    }

    span.send{
        background-color: $yellow;
    }
}


.walletCard{
    width: 100%;
    height: 160px;
    background-color: $main-theme;
    border-radius: 17px;
}


.sentSection {
    .sentHeader{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
        h6.heading{
            font-size: 15px;
            margin-bottom: 0;
        }

        .details{
            font-size: 22px !important;
            font-weight: 800;
            line-height: 0;
        }
        
    }
    img{
        width: 35px;
        height: 35px;
        margin-right: 8px;
    }

    

    li{
        display: flex;
        justify-content: space-between;
        padding: 6px 0;
        align-items: center;

        div{
            display: flex;
            justify-content: space-evenly;
        }
        div:nth-child(2){
            flex-direction: column;
            
        }
    }

    h6{
        font-size: 12px;
        margin-bottom: 0;
    }

    p{
        font-size: 11px;
    }
}

.total{
    color: $main-theme;
    font-weight: 600;
}

@media (max-width:767px) {
    .walletCard{
        margin-bottom: 20px;
        height: 167px;
    }

    .buttonsContainer{
        height: 150px;
    }
}