$main-theme : #428777;
$second-theme : #e9e9e9;
$main-theme-tran : #4287771a;
$danger-theme : #ee4444;

$danger-bg : #fabfbf;
$main-bg : #f5f5f5;
$card-bg : #ffffff; 
$card-bg-dark: #efefef;

$main-font: #000000;
$para-font: #9babc5;
$hover-font: #ffffff;

$main-icon:#428777;
$hover-icon:#9babc5;