@import '../../Assets/Scss/colors';

.CardUsed{
    height: 30%;
}

@media (max-width:992px) {
    .CardUsed{
        margin: 20px auto !important;
        width: 60%;
        height: 100%;
        padding-bottom: 20px;
    }
}

h4{
    padding-left: 15px;
}

.heading {
    display: flex;
    padding-left: 15px;
    margin-bottom: 20px;
    p {
        color: $para-font;
        font-weight: 400;
    }

    h6{
        color: $main-theme;
        padding-right: 5px;
    }
}

