@import '../../Assets/Scss/colors';

.adminCard{
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
    position: relative;
    margin: auto;
    border-radius: 21px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    color: $second-theme;
    cursor: pointer;

    h5{
        font-weight: 600;
    }

    p{
        color: #e9e9e970;
    }

    h6{
        font-weight: 600;
    }
    p,h6{
        font-size: 11px;
    }
}

.circles{
    position:absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e9e9e970;
    top: 10%;
    right: 14%;

    span{
        position:absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #e9e9e970;
        top: 0%;
        left: 69%;
    }
}

.walletCircles{
    top: 43%;
    right: 34px;
}

.validSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .holder{
        width: 57%;
    }
}   

.balanceSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.walletBalanceSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    p{
        font-size: 11px;
        color: $card-bg;
    }

    .balanceIcon{
        margin-left: 5px;
    }
}