@import '../../Assets/Scss/colors';


.sectionHeader{

    display: flex;
    justify-content: space-between;
    h4{
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    span{
        color: $main-theme;
        font-weight: 500;
        font-size: 14px;
    }

    p{
        color: $para-font;
        font-size: 12px;
    }
}

.contentContainer{
    padding-left: 15px;
}
@media (max-width:768px){ 
  .contentContainer{
      margin-top: 100px;
  }

}


.pageFunctionsButtons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
    padding-right: 15px;
    width: 36%;

    ul{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 0px;
    }

    li:nth-child(1){
        margin-right: 10px;
    }
    li{
        background-color: $card-bg;
        padding: 8px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        color: $para-font;    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li.selected{
        background-color: $main-theme;
        color: $card-bg;    
    }
}