@import '../../Assets/Scss/colors';

.LineChart{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 40px 90px;

}

.Chart{
    grid-column: 1/ span 2;
}


img{
    width:35px;
    height: 35px;
    float: right;
}

.chartHeading{

    h6{
        font-size: 11px;
        margin-bottom: 2px;
    }
    p{
        color: #000000;
        font-weight: 600;
        font-size: 15px;
    }
}
