@import '../../Assets/Scss/colors';
@import '../../Assets/Scss/spacing';

.invoiceDetailsActions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}

.invoiceDetailsActions span{
    margin: $margin-heading;
    width: 43%;
}


.sectionHeader{
    margin-bottom: 15px;
    
    h5{
        font-weight: 500;
    }

    span{
        color: $main-theme;
        font-weight: 500;
        font-size: 14px;
    }

    p{
        color: $para-font;
        font-size: 12px;
    }
}

.heading {
    display: flex;
    padding-left: 15px;
    p {
        color: $para-font;
        font-weight: 400;
    }

    h6{
        color: $main-theme;
        padding-right: 5px;
    }
}
