@import '../../Assets/Scss/colors'; 

.container-fluid{
    margin-top: 0;
    margin-bottom: 0;
  }

  .tableActionButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

tbody tr td:nth-child(5){
    color : $para-font;
}

.tableActionButtons ul {
    list-style: none;
    display: inline-flex;
    padding: 0px;
    justify-content: space-between;
    background-color:  $card-bg-dark;
    border-radius: 30px;
}

.tableActionButtons ul li{
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 13px;
    width: 75px;
    text-align: center;
    color:$para-font;
    cursor: pointer;
}

.tableActionButtons ul li:hover{
    background-color : $main-icon;
    color:$hover-font;
}