@import '../../Assets/Scss/colors';


.invoiceDetailsActions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}


.sectionHeader{
    margin-bottom: 15px;

    h5{
        font-weight: 500;
    }

    span{
        color: $main-theme;
        font-weight: 500;
        font-size: 14px;
    }

    p{
        color: $para-font;
        font-size: 12px;
    }
}