

@media (max-width:769px) {
    .createInvoiceActions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

.saveInvoiceButton{
    cursor: pointer;
}

.saveInvoiceButtonDisabled{
  cursor: not-allowed;
}