@import '../../Assets/Scss/colors'; 

.container-fluid{
    margin-top: 0;
    margin-bottom: 0;
  }

.InvoicesTable {
    td{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    tbody tr td:nth-child(5){
        color : $para-font !important;
    }

    div[data-test="datatable-info"]{
        div{
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            margin-left: 10px;
        }
    }

    div[data-test="datatable-pagination"]{

        a{
            padding: 4px 8px;
            
        }
    }


}


.invTable{
    margin-top: 10px;
}