@import '../../../Assets/Scss/colors';
@import '../../../Assets/Scss/spacing';

.paymentCard h6 , h7{
    font-weight: 500;
    color: $main-font;
}

.paymentCard p {
    text-transform: capitalize;
    font-size: 12px;
}

.paymentCard{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: $margin-component;
}

@media (max-width:992px){
    .paymentCard{
        margin-top: $margin-component;
        margin-bottom: $margin-component;
    }
}


.firstSectionContent{
    margin-bottom: 20px;
}

.firstSectionContent , .secondSectionContent{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}



.CardImage{
    width: 34px;
    height: 20px;
    border-radius: 5px;
    background-color: $main-theme;
}