@import '../../Assets/Scss/colors';

.navbar{
    height: 100vh;
    width: 100%;
    // position: fixed;
    // display: flex;
    // align-items: center;
    // flex-direction: row;
    // flex-wrap:wrap;
    // justify-content: space-evenly;
    background-color:$card-bg;
    // padding-left: 0px !important;
    // padding-right: 0px !important;
      
}

.navbarList {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-top: 10px;

    li {
        display: inline;
        text-align: start;
        width: 100%;

        span{
            padding-left: 14px;
            color: $para-font;
            font-size: 16px;
            font-weight: 400;
        }
        span:hover{
            color: $main-theme;
        }
         
      }

    li:hover{
        color: $main-theme !important;
    } 

    a{
        color: $para-font;
        font-size: 16px;
        font-weight: 400;
        padding-left: 20px;
        margin-bottom: 20px;
        display: block;
        width: 100%;
    }

    a:hover{
        span{
            color: $main-theme;
        }
        color: $main-theme;
        border-right: 3px solid $main-theme;
    }
  }


  
.logo{
    padding: 30px;
    text-align: center;

    p{
        font-size: 26px;
        font-weight: 700;
        color: #000;
    }
}

.navItemisActive{
    border-right: 3px solid $main-theme;
    color: $main-theme !important;
    span{
        color: $main-theme !important;
    }
}


.menuButton {
    display: none;
}

@media (max-width:768px) {

    .navbar{
        height: fit-content;
    }
    .logo{
        padding: 0px;
        width: 16%;
        margin-right: 32px;
    }
    .menuButton {
        display: flex;
        width: 25%;
    }
    .navbarList{
        display: none;
    }
    .hidden{
        list-style: none;
        display: flex;
        margin: 0;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding-top: 10px;
    }
}

.headingSmall{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}