.InvoBriefWrapper {
    border-radius: 15px;
    background-color: #fff;
    padding: 18px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.InvoBriefWrapperSec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

span{
    font-size: 25px;
    font-weight: 600;
}

p{
    font-size: 14px;
    margin: 0px;
    color: #ccc;
}