.InvoBriefWrapper {
    width: 20%;
    height: 100px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.InvoBriefWrapperSec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

span{
    font-size: 20px;
    font-weight: 600;
}

p{
    font-size: 14px;
    margin: 0px;
    color: #ccc;
}