@import '../../Assets/Scss/spacing';

.cardWrapper{
    width: -webkit-fill-available;
}

.addCardBtn{
    margin:0px auto;
}

.addCardBtn:hover{
    margin:0px auto;
}


form{
    margin-bottom: 15px;

    input, select{
        background-color: rgba(230, 230, 230, 0.8);
    }
}

@media (max-width:992px) {
    .addcartContainer{
        margin: $margin-component;
        margin-top: $margin-component;
    }
    .addCardBtn{
        margin: auto;
    }
}
