@import '../../Assets/Scss/spacing';

.cardWrapper{
    width: -webkit-fill-available;
}

.addCardBtn{
    width: 93% !important;
    margin:0px auto;
    // margin-bottom: 0px;
    span{
        font-size: 13px;
    }
}

.addCardBtn:hover{
    width: 93% !important;
    margin:0px auto;
    // margin-bottom: 0px;
    span{
        font-size: 13px;
    }
}

@media (max-width:992px) {
    .addcartContainer{
        margin: $margin-component;
        margin-top: $margin-component;
    }
    .addCardBtn{
        margin: auto;
    }
}
