@import '../../Assets/Scss/spacing';

.cardWrapper{
    width: -webkit-fill-available;
}

.addCardBtn{
    margin:0px auto;
}

.addCardBtn:hover{
    margin:0px auto;
}

.addcartContainer h6{
    margin-bottom: 15px;
    
}

.addcartContainer{
    
    form{
        margin-bottom: 15px;
    
        input, select{
            background-color: rgba(230, 230, 230, 0.8);
        }
    }
}

.cardsTable{
    td{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}



@media (max-width:992px) {
    .addcartContainer{
        margin: $margin-component;
        margin-top: $margin-component;
    }
    .addCardBtn{
        margin: auto;
    }
}
