@import '../../../Assets/Scss/colors'; 

.InvoBriefWrapper {
    justify-content: space-around;
    padding: 18px;
    display: flex;
}

.InvoBriefWrapperSec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

span{
    font-size: 25px;
}

p{
    font-size: 14px;
    color: $para-font;
    margin-bottom: 0px !important;
}