@import '../../Assets//Scss/colors'; 

.tableCard
{
    width: 100%;
    padding: 18px;
    border-radius: 15px;
    box-shadow: none;
    background-color:$card-bg;
    cursor: pointer;
}

h5{
    font-weight:400 !important;
}

thead{
    color : $para-font;
    font-size: 12px;
}

thead:nth-child(3){
    display:none;
}

tbody tr td{
    font-weight: 400;
    font-size: 12px;
}

thead tr {
    border-bottom: 1.5px solid rgb(226, 226, 226);
}
thead tr th{    
    font-size: 11px;
}

tbody tr td:nth-child(5){
    color : $para-font;
}

/* tbody tr td:nth-child(6){
   color:red;
} */


ul[data-test="pagination"]{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul[data-test="pagination"] a{
    background-color : $main-theme;
    color:$hover-font;
}

li[data-test="page-item"]{
    padding-left : 10px;

}

li[data-test="page-item"] span{
    font-size:18px;
}


div[data-test="dataTables_paginate"]{
    display:flex;
    width:50%
}

div[data-test="datatable-info"]{
    display: flex;
    align-items: flex-start;
    color: $para-font;
    font-size:15px; 

}


tbody tr td:nth-child(7){
    color : $para-font;
    font-weight:800;
    font-size:20px;
}

td{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
