@import './Assets/Scss/colors';


*{
  box-sizing: border-box;
}

html{
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: $main-bg !important;
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-wrapper{
  border-radius: 15px;
  //margin: 20px 0px;
  padding: 20px;
  background-color: $card-bg;
}

@media (max-width:767px){
  .card-wrapper{
    margin-bottom: 15px;
  }
}

.full-view {
  height: 100vh;
}

.carousel .slider-wrapper{
  padding: 25px;
  height: 100%;
}

.carousel.carousel-slider{
  height: 30vh;
}
.submitFormButton{
  // pointer-events: auto; 
  cursor: pointer;
}

.submitFormButtonDisabled{
  // pointer-events: none; 
  cursor: not-allowed;
}

.greenBg {
  background-image: url('../src/Assets/CardsBg/bg-green.svg');
}

.blueBg{
  background-image: url('../src/Assets/CardsBg/bg-blue.svg');
}

.redBg{
  background-image: url('../src/Assets/CardsBg/bg-red.svg');
}

.yellowBg{
  background-image: url('../src/Assets/CardsBg/bg-yellow.svg');
}